img {
    height: 150px;
    width: 200px;
    border-right: 1px solid;
}

.about {
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    box-shadow: 8px 9px 15px #161616, -6px -5px 16px #6e6e6e;
}